<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PlatformDB" connectionString="Server=.\SQLEXPRESS;Database=PlatformDB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PlatformDB;Integrated Security=SSPI;" 
         name="myConStr"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>